<template name="menusList">
    <div class="skelePanel">
        <i class="material-icons large left">menu</i>
        <h2>
            {{_ "menusListTitle_text"}}
        </h2>

        {{#if (skeleCheckPermissions "allowMenusCreate")}}
            <div style="margin-bottom: 35px">
                <a href="/panel/menus/{{defaultLang}}/create{{skeleCurrentLangLink}}" class="waves-effect waves-light btn thirdColor">
                    <i class="material-icons small left">add_box</i>
                    {{_ "menusCreate_btn"}}
                </a>
            </div>
        {{/if}}

        {{> skelelist data}}
    </div>
</template>
