<template name="menuCreate">
    <div class="panel normalSection">
        <div class="valign-wrapper">
            <i class="material-icons large left">menu</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updateMenu_text"}} <span class="documentTitle">"{{langAttribute data.item "name" "skeletorDefault"}}"</span>
                {{else}}
                    {{_ "createMenu_text"}}
                {{/if}} [{{currentLang}}]
            </h4>
        </div>

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
