<template name="roleCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">beenhere</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{#unless skeleformTest data.item.name "SUPERUSER"}}
                        {{i18n "updateRole_text"}}
                    {{else}}
                        {{data.item.name}}
                    {{/unless}}
                {{else}}
                    {{i18n "createRole_text"}}
                {{/if}}
            </h4>
        </div>
        {{#if data.item}}
            {{#unless skeleformTest data.item.name "SUPERUSER"}}
                <div class="skeleDocumentTitle">{{data.item.name}}</div>
            {{/unless}}
        {{/if}}

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
