<template name="roleCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">beenhere</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{#unless test data.item.name "SUPERUSER"}}
                        {{_ "updateRole_text"}} <span class="documentTitle">"{{data.item.name}}"</span>
                    {{else}}
                        <span class="documentTitle">"{{data.item.name}}"</span>
                    {{/unless}}
                {{else}}
                    {{_ "createRole_text"}}
                {{/if}}
            </h4>
        </div>

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
