<template name="roleCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">beenhere</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updateRole_text"}} <span class="documentTitle">"{{data.item.name}}"</span>
                {{else}}
                    {{_ "createRole_text"}}
                {{/if}}
            </h4>
        </div>

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
