<template name="pageCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">find_in_page</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updatePage_text"}} <span class="documentTitle">"{{skeleLangAttribute data.item "code" "skeletorDefault"}}"</span>
                {{else}}
                    {{_ "createPage_text"}}
                {{/if}} [{{currentLang}}]
            </h4>
        </div>

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
