<template name="skeleUnauthorized">
    <main>
        <div class="skeleCentralBody">
            <div class="skeleCentralBody">
                <div class="skelePanel">
                    <div class="valign-wrapper">
                        <i class="material-icons large">&#xE925;</i>
                        <h4 class="valign">
                            {{i18n "permissionDenied_title"}}
                        </h4>
                    </div>

                    <div class="topSpaced">
                        {{i18n "unauthorized_text"}}
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a id="backToLogin" class="secondColor vSpaced waves-effect waves-light btn">
                                <i class="material-icons left">perm_identity</i>{{i18n "backTogin_btn"}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>


<!-- DEVELOPMENT and ERROR management -->
<template name="workInProgress">
    <div class="panel centeredSection">
        <img src="{{skeleStaticPath}}/images/assets/work-in-progress.png"><br><br>
        {{i18n "workInProgress_text"}}
    </div>
</template>


<template name="404">
    <div class="panel centeredSection">
        <img src="{{skeleStaticPath}}/images/logos/miniLogo.png">
        <h2 class="blueTitle">{{i18n "404Title_text"}}</h2>

        <p><b>{{i18n "404Subtitle_text"}}</b></p>
        <p>{{{i18n "404Detail_text"}}}</p>
    </div>
</template>

<template name="unpublished">
    <div class="panel centeredSection">
        <img src="{{skeleStaticPath}}/images/logos/miniLogo.png">
        <h2 class="blueTitle">{{i18n "unpublishedTitle_text"}}</h2>

        <p><b>{{i18n "unpublishedSubtitle_text"}}</b></p>
        <p>{{{i18n "unpublishedDetail_text"}}}</p>
    </div>
</template>
