<template name="sectionCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">assignment</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updateSection_text"}} <span class="documentTitle">"{{skeleLangAttribute data.item "name" "skeletorDefault"}}"</span>
                {{else}}
                    {{_ "createSection_text"}}
                {{/if}} [{{currentLang}}]
            </h4>
        </div>

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
