<template name="sectionCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">assignment</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updateSection_text"}}
                {{else}}
                    {{_ "createSection_text"}}
                {{/if}} [{{currentLang}}]
            </h4>
        </div>
        {{#if data.item}}
            <div class="skeleDocumentTitle">{{skeleLangAttribute data.item "name" "skeletorDefault"}}</div>
        {{/if}}

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
