<template name="skelePanelDashboard">
    <div class="skelePanel skeleDashboard center-align">
        <h4>
            <b>{{conf "appName"}} {{i18n "adminTools_text"}}</b>
        </h4>

        {{#if
            (skeleformTest
                (skeleformTest
                    (skeleCheckPermissions "allowPagesRead")
                    (skeleCheckPermissions "allowSectionsRead")
                    "or")
                (skeleCheckPermissions "allowMenusRead")
                "or")
        }}
            {{> skeleDashboardWesiteButtons}}
        {{/if}}

        {{#if
            (skeleformTest
                (skeleCheckPermissions "allowUsersRead")
                (skeleCheckPermissions "allowRolesRead")
                "or")
        }}
            {{> skeleDashboardAclButtons}}
        {{/if}}

        {{#if (skeleCheckPermissions "allowConfigRead")}}
            {{> skeleDashboardConfigButtons}}
        {{/if}}
    </div>
</template>


<template name="skeleDashboardWesiteButtons">
    <h4>{{i18n "websiteButtons_text"}}</h4>

    <div class="buttonsContainer">
        <a href="/{{defaultLang}}/home" target="_blank" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "openWebsite_tooltip"}}">
            <i class="material-icons large">public</i>
            <div>{{i18n "openWebsite_btn"}}</div>
        </a>
        {{#if (skeleCheckPermissions "allowSectionsRead")}}
            <a href="/panel/sections/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Sections_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "sections_tooltip"}}">
                <i class="material-icons">assignment</i>
                <div>{{i18n "sections_btn"}}</div>
            </a>
        {{/if}}
        {{#if (skeleCheckPermissions "allowPagesRead")}}
            <a href="/panel/pages/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Pages_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "pages_tooltip"}}">
                <i class="material-icons">find_in_page</i>
                <div>{{i18n "pages_btn"}}</div>
            </a>
        {{/if}}
        {{#if (skeleCheckPermissions "allowMenusRead")}}
            <a href="/panel/menus/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Sections_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "menus_tooltip"}}">
                <i class="material-icons">menu</i>
                <div>{{i18n "menus_btn"}}</div>
            </a>
        {{/if}}
    </div>
</template>

<template name="skeleDashboardAclButtons">
    <h4>{{i18n "aclButtons_text"}}</h4>

    <div class="buttonsContainer">
        {{#if (skeleCheckPermissions "allowUsersRead")}}
            <a href="/panel/users{{skeleCurrentLangLink}}{{isPaginated "Users_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "users_tooltip"}}">
                <i class="material-icons">person</i>
                <div>{{i18n "users_btn"}}</div>
            </a>
        {{/if}}
        {{#if (skeleCheckPermissions "allowRolesRead")}}
            <a href="/panel/roles{{skeleCurrentLangLink}}{{isPaginated "Roles_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "roles_tooltip"}}">
                <i class="material-icons">beenhere</i>
                <div>{{i18n "roles_btn"}}</div>
            </a>
        {{/if}}
    </div>
</template>

<template name="skeleDashboardConfigButtons">
    <h4>{{i18n "configButtons_text"}}</h4>

    {{#if (skeleCheckPermissions "allowConfigUpdate")}}
        <div class="buttonsContainer">
            <a href="/panel/settings/update{{skeleCurrentLangLink}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "settings_tooltip"}}">
                <i class="material-icons">&#xE8B8;</i>
                <div>{{i18n "settings_btn"}}</div>
            </a>

            <a href="/panel/application-data/update{{skeleCurrentLangLink}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{i18n "applicationData_tooltip"}}">
                <i class="material-icons">fingerprint</i>
                <div>{{i18n "applicationData_btn"}}</div>
            </a>
        </div>
    {{/if}}
</template>
