<template name="panelLayout">
    <nav class="firstColor">
        <div class="nav-wrapper">
            <div id="logout" class="bold upperCase left">
                <i class="mdi-action-exit-to-app small left"></i>
                {{_ "menu_logout"}}
            </div>
            <a href="#" data-activates="mainMenuMobile" class="button-collapse right hSpaced"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down iconSwing">
                {{> mainMenu}}
            </ul>
            <ul class="side-nav firstColor" id="mainMenuMobile">
                {{> mainMenu}}
            </ul>
        </div>
    </nav>
    
    <main>
        <div class="centralBody">    
            <div class="row vSpaced">
                <div class="col s12 m6 l8 left-align">
                    <div class="card-panel thirdColor langBar">
                        {{> langBar}}
                    </div>
                </div>
                <div class="col s12 m6 l4 right-align">
                    <div class="card-panel secondColor">
                        <i class="material-icons small left relative1">perm_identity</i>{{_ "currentLoggedUser_msg"}} {{currentUser.username}}
                    </div>
                </div>
            </div>

            <div class="centralBody">
                {{> Template.dynamic template=main}}      
            </div>
        </div>
        
        {{> statusBar}}
    </main>

    <footer>
        {{> panelFooter}} 
        {{#if debug}}
            {{> debugToolbar}}
        {{/if}}
    </footer>
</template>


<template name="mainMenu">
    <li>
        <a href="/panel/dashboard{{currentLangLink}}">
            <i class="material-icons small left">dashboard</i>
            <div class="navItemName">{{_ "menu_dashboard"}}</div>
        </a>
    </li>
    <li>
        <a href="/pages/home{{currentLangLink}}" target="_blank">
            <i class="material-icons small left">public</i>
            <div class="navItemName">{{_ "menu_website"}}</div>
        </a>
    </li>
    <li>
        <a href="/panel/users{{currentLangLink}}">
            <i class="material-icons small left">person</i>
            <div class="navItemName">{{_ "menu_users"}}</div>
        </a>
    </li>
    <li>
        <a href="/panel/roles{{currentLangLink}}">
            <i class="material-icons small left">beenhere</i>
            <div class="navItemName">{{_ "menu_roles"}}</div>
        </a>
    </li>
    <li>
        <a href="/panel/pages{{currentLangLink}}">
            <i class="material-icons small left">find_in_page</i>
            <div class="navItemName">{{_ "menu_pages"}}</div>
        </a>
    </li>
</template>


<template name="panelFooter">
    <footer id="panelFooter" class="page-footer firstColor">
        <div class="footer-copyright lighten" style="margin-bottom: 20px;">
            <div class="container">
                {{_ "version"}} {{conf "version"}}
                <a>
                    <i class="medium material-icons firstInteractiveColor pointer right backTop waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="{{_ "backTop_tooltip"}}">arrow_drop_up</i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>{{conf "name"}}</h5>
                    <p>
                        <span class="bold">{{conf "appName"}}</span><br>
                        {{_ "adminPanel_msg"}}<br><br>

                        {{_ "support_msg"}} <a href="mailto:{{conf "webmasterEmail"}}">{{conf "webmasterEmail"}}</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <img src="/images/logos/miniLogo.png" />
                </div>
            </div>
        </div>
        <div class="footer-copyright lighten">
            <div class="container">
                © {{display "currentYear"}} {{_ "designedBy_text"}} {{conf "author.name"}} {{_ "for_text"}} {{conf "name"}}
                <a class="right" href="{{conf "author.website"}}" target="_blank">
                    <i class="mdi-social-public small left"></i>
                    {{conf "author.websiteText"}}
                </a>
            </div>
        </div>
    </footer>
</template>




<!--
GUIDE
================================
NAV
________________________________
- iconSwing class controls the icon swing style menu; remove this class for a normal menu
-->
