<template name="skelePanelDashboard">
    <div class="skelePanel skeleDashboard center-align">
        <h4>
            <b>{{conf "appName"}} {{_ "adminTools_text"}}</b>
        </h4>

        <div id="dashboardCustom"></div>

        {{#if (skeleCheckPermissions "allowPages")}}
            {{> skeleDashboardWesiteButtons}}
        {{/if}}

        {{#if (skeleCheckPermissions "allowAcl")}}
            {{> skeleDashboardAclButtons}}
        {{/if}}

        {{#if (skeleCheckPermissions "allowConfig")}}
            {{> skeleDashboardConfigButtons}}
        {{/if}}
    </div>
</template>

<template name="skeleDashboardWesiteButtons">
    <h4>{{_ "websiteButtons_text"}}</h4>

    <div class="buttonsContainer">
        <a href="/{{defaultLang}}/home" target="_blank" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "openWebsite_tooltip"}}">
            <i class="material-icons large">public</i>
            <div>{{_ "openWebsite_btn"}}</div>
        </a>
        <a href="/panel/sections/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Sections_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "sections_tooltip"}}">
            <i class="material-icons">assignment</i>
            <div>{{_ "sections_btn"}}</div>
        </a>
        <a href="/panel/pages/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Pages_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "pages_tooltip"}}">
            <i class="material-icons">find_in_page</i>
            <div>{{_ "pages_btn"}}</div>
        </a>
        <a href="/panel/menus/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Sections_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "menus_tooltip"}}">
            <i class="material-icons">menu</i>
            <div>{{_ "menus_btn"}}</div>
        </a>
    </div>
</template>

<template name="skeleDashboardAclButtons">
    <h4>{{_ "aclButtons_text"}}</h4>

    <div class="buttonsContainer">
        <a href="/panel/users{{skeleCurrentLangLink}}{{isPaginated "Users_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "users_tooltip"}}">
            <i class="material-icons">person</i>
            <div>{{_ "users_btn"}}</div>
        </a>
        <a href="/panel/roles{{skeleCurrentLangLink}}{{isPaginated "Roles_default"}}" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "roles_tooltip"}}">
            <i class="material-icons">beenhere</i>
            <div>{{_ "roles_btn"}}</div>
        </a>
    </div>
</template>

<template name="skeleDashboardConfigButtons">
    <h4>{{_ "configButtons_text"}}</h4>

    <div class="buttonsContainer">
        <a href="/panel/settings/update" class="btn tooltipped dashboardBtn" data-position="bottom" data-delay="10" data-tooltip="{{_ "settings_tooltip"}}">
            <i class="material-icons">&#xE8B8;</i>
            <div>{{_ "settings_btn"}}</div>
        </a>
    </div>
</template>
