<template name="skelePanelLayout">
    {{#if (skeleCheckPermissions "allowPanelAccess")}}
        {{> panelMainMenu}}

        <main>
            <div class="skeleCentralBody">
                <div class="row vSpaced">
                    <div class="col s12 m6 l4 left-align">
                        <div class="card-panel thirdColor langBar">
                            {{> langBar}}
                        </div>
                    </div>
                    <div class="col s12 m6 l4 right-align">
                        <div class="card-panel secondColor">
                            <i class="material-icons small left relative1">perm_identity</i>{{_ "currentLoggedUser_msg"}} {{currentUser.username}}
                        </div>
                    </div>
                </div>

                <div class="skeleCentralBody">
                    {{> Template.dynamic template=main}}
                </div>
            </div>

            {{> statusBar}}
        </main>

        <footer>
            {{> panelFooter}}
            {{#if debug}}
                {{> debugToolbar}}
            {{/if}}
        </footer>
    {{else}}
        {{> skeleUnauthorized}}
    {{/if}}
</template>


<template name="skelePanelNudeLayout">
    <main>
        <div class="skeleCentralBody">
            <div class="skeleCentralBody">
                {{> Template.dynamic template=main}}
            </div>
        </div>
    </main>
</template>


<template name="skeleUnauthorized">
    <main>
        <div class="skeleCentralBody">
            <div class="skeleCentralBody">
                <div class="skelePanel">
                    <div class="valign-wrapper">
                        <i class="material-icons large">&#xE925;</i>
                        <h4 class="valign">
                            {{_ "permissionDenied_title"}}
                        </h4>
                    </div>

                    <div class="topSpaced">
                        {{_ "unauthorized_text"}}
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a id="backToLogin" class="secondColor vSpaced waves-effect waves-light btn">
                                <i class="material-icons left">perm_identity</i>{{_ "backTogin_btn"}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>


<!-- panel main menu -->
<template name="panelMainMenu">
    <nav class="firstColor">
        <div class="nav-wrapper">
            <div id="logout" class="skeleBold upperCase left">
                <i class="material-icons small left">&#xE879;</i>
                {{_ "menu_logout"}}
            </div>
            <a href="#" data-activates="mainMenuMobile" class="button-collapse right hSpaced"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down iconSwing">
                {{> panelMainMenuList}}
            </ul>
            <ul class="side-nav firstColor" id="mainMenuMobile">
                {{> panelMainMenuList}}
            </ul>
        </div>
    </nav>
</template>


<template name="panelMainMenuList">
    <li>
        <a href="/panel/dashboard{{skeleCurrentLangLink}}">
            <i class="material-icons small left">dashboard</i>
            <div class="navItemName">{{_ "menu_dashboard"}}</div>
        </a>
    </li>
    <li>
        <a href="/{{defaultLang}}/home" target="_blank">
            <i class="material-icons small left">public</i>
            <div class="navItemName">{{_ "menu_website"}}</div>
        </a>
    </li>
    {{#if (skeleCheckPermissions "allowConfigRead")}}
        <li>
            <a href="/panel/settings/update">
                <i class="material-icons left">&#xE8B8;</i>
                <div class="navItemName">{{_ "menu_settings"}}</div>
            </a>
        </li>
    {{/if}}
    <div class="separator darken"></div>

    {{#if
        (skeleformTest
            (skeleformTest
                (skeleCheckPermissions "allowPagesRead")
                (skeleCheckPermissions "allowSectionsRead")
                "or")
            (skeleCheckPermissions "allowMenusRead")
            "or")
    }}
        {{> panelMainMenuPages}}
    {{/if}}
    {{#if
        (skeleformTest
            (skeleCheckPermissions "allowUsersRead")
            (skeleCheckPermissions "allowRolesRead")
            "or")
    }}
        <div class="separator darken"></div>
        {{> panelMainMenuAcl}}
    {{/if}}
</template>


<!-- panel main menu items for pages management -->
<template name="panelMainMenuPages">
    {{#if (skeleCheckPermissions "allowSectionsRead")}}
        <li>
            <a href="/panel/sections/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Sections_default"}}">
                <i class="material-icons left">assignment</i>
                <div class="navItemName">{{_ "menu_sections"}}</div>
            </a>
        </li>
    {{/if}}
    {{#if (skeleCheckPermissions "allowPagesRead")}}
        <li>
            <a href="/panel/pages/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Pages_default"}}">
                <i class="material-icons left">find_in_page</i>
                <div class="navItemName">{{_ "menu_pages"}}</div>
            </a>
        </li>
    {{/if}}
    {{#if (skeleCheckPermissions "allowMenusRead")}}
        <li>
            <a href="/panel/menus/{{defaultLang}}{{skeleCurrentLangLink}}{{isPaginated "Menus_default"}}">
                <i class="material-icons left">menu</i>
                <div class="navItemName">{{_ "menu_menus"}}</div>
            </a>
        </li>
    {{/if}}
</template>


<!-- panel main menu items for ACL management -->
<template name="panelMainMenuAcl">
    {{#if (skeleCheckPermissions "allowUsersRead")}}
        <li>
            <a href="/panel/roles{{skeleCurrentLangLink}}{{isPaginated "Roles_default"}}">
                <i class="material-icons left">beenhere</i>
                <div class="navItemName">{{_ "menu_roles"}}</div>
            </a>
        </li>
    {{/if}}
    {{#if (skeleCheckPermissions "allowRolesRead")}}
        <li>
            <a href="/panel/users{{skeleCurrentLangLink}}{{isPaginated "Users_default"}}">
                <i class="material-icons left">person</i>
                <div class="navItemName">{{_ "menu_users"}}</div>
            </a>
        </li>
    {{/if}}
</template>


<template name="panelFooter">
    <footer id="panelFooter" class="page-footer firstColor">
        <div class="footer-copyright lighten" style="margin-bottom: 20px;">
            <div class="container">
                {{_ "version"}} {{conf "version"}}
                <a>
                    <i class="medium material-icons firstInteractiveColor pointer right backTop waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="{{_ "backTop_tooltip"}}">arrow_drop_up</i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>{{conf "name"}}</h5>
                    <p>
                        <span class="skeleBold">{{conf "appName"}}</span><br>
                        {{_ "adminPanel_msg"}}<br><br>

                        {{_ "support_msg"}} <a href="mailto:{{conf "webmasterEmail"}}">{{conf "webmasterEmail"}}</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <img class="panelFooterLogo" src="/images/logos/miniLogo.png" />
                </div>
            </div>
        </div>
        <div class="footer-copyright lighten">
            <div class="container">
                © {{display "currentYear"}} {{_ "designedBy_text"}} {{conf "author.name"}} {{_ "for_text"}} {{conf "name"}}
                <a class="right" href="{{conf "author.website"}}" target="_blank">
                    <i class="mdi-social-public small left"></i>
                    {{conf "author.websiteText"}}
                </a>
            </div>
        </div>
    </footer>
</template>




<!--
GUIDE
================================
NAV
________________________________
- iconSwing class controls the icon swing style menu; remove this class for a normal menu
-->
