<template name="skelePanelLayout">
    {{#if (skeleCheckPermissions "allowPanelAccess")}}
        {{> panelMainMenu}}

        <main>
            <div class="skeleCentralBody">
                <div class="row vSpaced">
                    <div class="col s12 m6 l4 left-align">
                        <div class="card-panel thirdColor langBar">
                            {{> langBar}}
                        </div>
                    </div>
                    <div class="col s12 m6 l4 right-align">
                        <div class="card-panel secondColor">
                            <i class="material-icons small left relative1">perm_identity</i>{{_ "currentLoggedUser_msg"}} {{currentUser.username}}
                        </div>
                    </div>
                </div>

                <div class="skeleCentralBody">
                    {{> Template.dynamic template=main}}
                </div>
            </div>

            {{> statusBar}}
        </main>

        <footer>
            {{> panelFooter}}
            {{#if debug}}
                {{> debugToolbar}}
            {{/if}}
        </footer>
    {{else}}
        {{> skeleUnauthorized}}
    {{/if}}
</template>


<template name="skelePanelNudeLayout">
    <main>
        <div class="skeleCentralBody">
            <div class="skeleCentralBody">
                {{> Template.dynamic template=main}}
            </div>
        </div>
    </main>
</template>


<template name="skeleUnauthorized">
    <main>
        <div class="skeleCentralBody">
            <div class="skeleCentralBody">
                <div class="skelePanel">
                    <div class="valign-wrapper">
                        <i class="material-icons large">&#xE925;</i>
                        <h4 class="valign">
                            {{_ "permissionDenied_title"}}
                        </h4>
                    </div>

                    <div class="topSpaced">
                        {{_ "unauthorized_text"}}
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a id="backToLogin" class="secondColor vSpaced waves-effect waves-light btn">
                                <i class="material-icons left">perm_identity</i>{{_ "backTogin_btn"}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<template name="panelFooter">
    <footer id="panelFooter" class="page-footer firstColor">
        <div class="footer-copyright lighten" style="margin-bottom: 20px;">
            <div class="container">
                {{_ "version"}} {{conf "version"}}
                <a>
                    <i class="medium material-icons firstInteractiveColor pointer right backTop waves-effect waves-light tooltipped" data-position="bottom" data-delay="10" data-tooltip="{{_ "backTop_tooltip"}}">arrow_drop_up</i>
                </a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>{{conf "appName"}}</h5>
                    <p>
                        <span class="skeleBold">{{conf "appDetail"}}</span><br>
                        {{_ "adminPanel_msg"}}<br><br>

                        {{_ "support_msg"}} <a href="mailto:{{conf "webmasterEmail"}}">{{conf "webmasterEmail"}}</a>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <img class="panelFooterLogo" src="/images/logos/logo.png" />
                </div>
            </div>
        </div>
        <div class="footer-copyright lighten">
            <div class="container">
                © {{display "currentYear"}} {{_ "designedBy_text"}} {{conf "author.name"}} {{_ "for_text"}} {{conf "appName"}}
                <a class="right" href="{{conf "author.website"}}" target="_blank">
                    <i class="mdi-social-public small left"></i>
                    {{conf "author.websiteText"}}
                </a>
            </div>
        </div>
    </footer>
</template>




<!--
GUIDE
================================
NAV
________________________________
- iconSwing class controls the icon swing style menu; remove this class for a normal menu
-->
