<template name="userCreate">
    <div class="skelePanel">
        <div class="valign-wrapper">
            <i class="material-icons large left">person</i>
            <h4 class="valign">
                {{#if data.item}}
                    {{_ "updateUser_text"}}
                {{else}}
                    {{_ "createUser_text"}}
                {{/if}}
            </h4>
        </div>
        {{#if data.item}}
            <div class="skeleDocumentTitle">{{data.item.username}}</div>
        {{/if}}

        <div class="skeleformWrapper">
            {{> skeleform data}}
        </div>
    </div>
</template>
