<template name="usersList">
    <div class="panel ">
        <i class="material-icons large left">person</i>
        <h2>
            {{_ "usersListTitle_text"}}
        </h2>

        <div style="margin-bottom: 35px">
            <a href="/panel/users/create{{currentLangLink}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">add_box</i>
                {{_ "userCreate_btn"}}
            </a>
        </div>
        <div id="changePassword"></div>

        {{> skelelist data}}
    </div>
</template>
