<template name="usersList">
    <div class="panel normalSection">
        <i class="material-icons large left">person</i>
        <h2>
            {{_ "usersListTitle_text"}}
        </h2>

        <div style="margin-bottom: 35px">
            <a href="/panel/users/create{{currentLangLink}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">add_box</i>
                {{_ "userCreate_btn"}}
            </a>
        </div>
        <div id="changePassword"></div>

        {{> skelelist data}}
    </div>
</template>


<!-- user change password -->
<template name="userChangePassword">
    <div id="skeletorUserChangePasswordModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="vSpaced">
                <h3>{{item.username}}</h3>
                <h5>{{_ "changePasswordTitle_lbl"}}</h5>
            </div>

            {{> skeleform data}}
        </div>
        <div class="modal-footer" id="skeletorUserChangePasswordToolbar"></div>
    </div>
</template>


<!-- toolbar for users' change password form -->
<template name="userChangePasswordToolbar">
    <div class="waves-effect waves-light btn secondColor skeleformChangePassword">
        <i class="material-icons small left">lock</i>
        <span>{{_ "update_btn"}}</span>
    </div>
    <div class="waves-effect waves-light btn firstColor undoChangePassword">
        <i class="material-icons small left">undo</i>
        <span>{{_ "cancel_btn"}}</span>
    </div>
</template>