* {
    outline-width: 0 !important;  // fix messed up selection borders with chrome
}

/* --- utilitiy classes --- */
.centralBodyFlex {
    max-width: 1100px;
    margin: 0 auto 0 auto;
}
.centralBody {
    @extend .centralBodyFlex;
    width: 100%;
}
.panel {
    background: $firstBackgroundColor;
    margin: 0 auto 35px auto;
    padding: 35px 35px 55px 35px;
}

.wrapperLoading {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(21, 21, 21, 0.8);
}

.relative1 {
    position: relative;
    top: -4px;
}
.vSpaced {
    margin: 15px auto;
}
.hSpaced {
    margin: auto 15px;
}
.hPadded {
    padding: 0 35px;
}
.topSpaced {
    margin-top: 35px !important;
}
.pointer, input[type="file"] {
    cursor: pointer;
}
.divider {
    background-color: lighten($firstTextColor, 30%) !important;
}
.bold {
    font-weight: 500;
}
.upperCase {
    text-transform: uppercase;
}
.transparent {
    opacity: 0;
}
/* --- end utility classes --- */



/* --- panel styles --- */
.panelBody {
    background-image: url(/images/backgrounds/panel.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #2b2b2b;
    background-position: right top;
    color: $firstTextColor;
}
body.panelBody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: justify;

    &::-webkit-scrollbar {
        width: 17px;
    }
    &::-webkit-scrollbar-track {
        background-color: $firstColor;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($firstColor, 20%);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($firstColor, 30%);
    }
    &::-webkit-scrollbar-button {
        display: none !important;
    }

    main {
        flex: 1 0 auto;
    }
    
    // headers
    h5 {
        i.large {
            height: 6rem;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    
    // links
    a {
        &:link {
            color: $defaultLink;
        }
        &:visited {
            color: $defaultLinkVisited;
        }
        &:hover {
            color: $defaultLinkHover;
        }
        &:active {
            color: $defaultLinkActive;
        }
    }
    
    // images
    img {
        max-width: 100%;
    }
    
    // tables
    td, th{
        border-radius: 0 !important;
    }

    table.hoverable tbody tr:hover {
        background-color: $firstHoverColor !important;
    }

    .btn {
        i + span {
            @extend .hide-on-small-only;
        }
    }
    
    // main menu
    nav {
        ul div {
            float: left;
            overflow: hidden;
        }
        .side-nav {
            i {
                margin-top: 15px;
            }
        }
        .iconSwing {
            .navItemName {
                max-width: 0;
                overflow: hidden;
            }
            .menuItemName {
                text-transform: uppercase;
                color: $firstColorLinkHover;
                position: relative;
                left: -35px;
                font-weight: bold;
            }
            i.left {
                margin-right: 0 !important;
            }
        }

        #logout {
            margin-left: 20px;
            cursor: pointer;
        }
    }
    
    // dialogs
    #toast-container {
        z-index: 3007 !important;

        .toast {
            border: solid 2px;
        }
    }

    .modal {
        z-index: 3003 !important;
    }

    #panelLoadingModal {
        max-width: 550px;
    }
    
    // languages and socials bar
    .langBar {
        max-height: 62px;

        &:last-child:after {
            content:'';
            display:block;
            clear: both;
        }

        .langLabel {
            float: left;
            margin-right: 15px;
        }

        .langSpacer {
            float: left;
            margin: auto 15px;
        }

        img {
            max-height: 30px;
            border: solid 3px $thirdColorBorder;
            margin-right: 5px;
            margin-top: -3px;
            cursor: pointer !important;
        }

        .langFlag, .socialIcon {
            height: 30px;
            float: left;
            margin-top: -4px;
        }
    }

    .modal {
        background-color: $firstColor;
        color: $firstColorText;
        z-index: 1057 !important;
        backface-visibility: hidden;

        .input-field input:not([readonly]), .input-field input.datepicker {
            border-color: $firstColorText !important;
        }
        .input-field input:focus:not([readonly]), .input-field input.datepicker:focus, textarea.materialize-textarea:focus:not([readonly]) {
            box-shadow: 0 1px 0 0 $firstFocusColor !important;
            border-color: $firstFocusColor !important;
        }
        label, .input-field input:not([readonly]) + label, .input-field input.datepicker + label, .input-field .prefix, .note-editor + label {
            color: $firstColorText !important;
        }
        .input-field input:focus:not([readonly]) + label, .input-field input.datepicker:focus + label, .input-field .prefix.active, textarea.materialize-textarea:focus:not([readonly]) + label {
            color: $firstFocusColor !important;
        }

        .btn {
            background-color: $secondColor;
        }
        .btn:hover {
            background-color: lighten($secondColor, 10%) !important;
        }

        .btn.disabled {
            background-color: darken($secondColor, 15%) !important;
        }

        .modal-footer {
            background-color: darken($firstColor, 10%);

            .btnClose {
                margin-right: 15px;
                background-color: $thirdColor;
            }

            .btnClose:hover {
                background-color: lighten($thirdColor, 10%) !important;
            }
        }
    }
}
/* --- end panel styles --- */



/* --- specific rules --- */
#skeleformLoading {
    clear: both;

    .panel {
        max-width: 450px;
        margin: 70px auto 30px auto;
        z-index: 3000;
    }
}

#dashboardBtns {
    .dashboardBtn {
        width: 172px !important;
        height: 172px !important;
        margin: 15px !important;
        padding-top: 15px !important;
        line-height: 1.5 !important;

        & i {
            font-size: 6rem !important;
            position: relative;
            margin-bottom: 50px;
            top: -20px;
        }
        & div {
            position: relative;
            bottom: 35px;
        }
    }
}
/* --- end specific rules --- */



/* --- debug functions --- */
#debug .btn {
    width: 37px;
}
#debugActivator {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 11px 21px 7px 21px;
    z-index: 2000;
}
#debugActionsContainer {
    @extend #debugActivator;
    border-top-left-radius: 5px;
    margin-right: 50px;
    right: 28px;

    .fixed-action-btn {
        position: static !important;
        display: inline-block !important;
        padding-top: 0 !important;

        ul {
            bottom: 40px !important;
            right: -38px !important;

            .btn-floating {
                border-radius: 2px !important;
            }
        }
    }
}
.debugGroup {
    margin: {
        left: 7px;
        right: 7px;
    }
}
/* --- end debug functions --- */


/* --- skeletor status bar --- */
#statusBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3000;

    div {
        padding: 15px;
    }
    .spacer {
        width: 25px;
        padding: 0 !important;
        height: 52px;
        margin-top: -15px;
    }
    a {
        height: 52px;
        margin-top: -15px;
        padding-top: 12px;
    }
    .status {
        //height: 30px;
        width: 30px;
        margin: auto 7px;
        display: inline;
    }
    #statusDescription {
        margin-top: -15px;
        color: $firstColorLinkHover;
    }
}

.barActivator {
    width: 100%;
    height: 15px;
    padding: 0 !important;
    z-index: 3000;
    background-color: transparent;
}
/* --- end skeletor status bar --- */
