body {
    outline-width: 0 !important;  // fix messed up selection borders with chrome
}

/* --- utilitiy classes --- */
.skeleCentralBodyFlex {
    max-width: 1500px;
    margin: 0 auto 0 auto;
}
.skeleCentralBody {
    @extend .skeleCentralBodyFlex;
    width: 100%;
}
.skelePanel {
    margin: 0 auto 35px auto;
    padding: 35px 35px 55px 35px;
}

.skeleDocumentTitle {
    margin-left: 100px;
    font-weight: bold;
    font-size: 18px;
}

.wrapperLoading {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(21, 21, 21, 0.8);
}

.relative1 {
    position: relative;
    top: -4px;
}
.vSpaced {
    margin: 15px auto;
}
.hSpaced {
    margin: auto 15px;
}
.hPadded {
    padding: 0 35px;
}
.topSpaced {
    margin-top: 35px !important;
}
.pointer, input[type="file"] {
    cursor: pointer;
}
.skeleBold {
    font-weight: 500;
}
.upperCase {
    text-transform: uppercase;
}
.transparent {
    opacity: 0;
}
/* --- end utility classes --- */



/* --- panel styles --- */
body.skelePanelBody {
    background-image: url(/images/backgrounds/panel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $panelBackgroundColor;
    background-position: right top;
    background-attachment: fixed;
    color: $firstTextColor;
    position: relative;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: justify;

    &::-webkit-scrollbar {
        width: 17px;
    }

    main {
        flex: 1 0 auto;
    }

    // headers
    h5 {
        i.large {
            height: 6rem;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }

    .hoverable:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    // images
    img {
        max-width: 100%;
    }

    // tables
    td, th{
        border-radius: 0 !important;
    }

    .btn {
        i + span {
            //@extend .hide-on-small-only;
        }
    }

    // main menu
    nav {
        @extend .firstColor;

        ul div {
            float: left;
            overflow: hidden;
        }
        .iconSwing {
            li > a {
                &:hover {
                    i.left {
                        color: lighten($secondHoverColor, 10%);
                    }
                }
            }

            .navItemName {
                max-width: 0;
                overflow: hidden;
            }
            .menuItemName {
                text-transform: uppercase;
                position: relative;
                left: -35px;
                font-weight: bold;
            }
            i.left {
                margin-right: 0 !important;
            }
        }

        .separator {
            height: 61px;
            width: 11px;
        }

        #logout {
            margin-left: 20px;
            cursor: pointer;
        }

        ul.side-nav {
            .separator {
                display: none;
            }

            .separator + li {
                border-top: solid 2px;
            }
        }
    }

    .skeleDashboard {
        .buttonsContainer {
            .dashboardBtn {
                width: 172px !important;
                height: 172px !important;
                margin: 15px !important;
                padding-top: 15px !important;
                line-height: 1.5 !important;

                & i {
                    font-size: 6rem !important;
                    position: relative;
                    margin-bottom: 50px;
                    top: -20px;
                }
                & div {
                    position: relative;
                    bottom: 35px;
                }
            }
        }
    }

    .card-panel, .btn {
        border-radius: 0;
    }

    // dialogs
    #toast-container {
        z-index: 3007 !important;

        .toast {
            border: solid 2px;
        }
    }

    // languages and socials bar
    .skeleLangBar {
        max-height: 70px;

        &:last-child:after {
            content:'';
            display:block;
            clear: both;
        }

        .langLabel {
            float: left;
            margin-right: 15px;
        }

        .langSpacer {
            float: left;
            margin: auto 15px;
        }

        .langFlagsWrapper {
            float: right;
        }

        .langFlag, .socialIcon {
            height: 30px;
            float: left;
            margin-top: -4px;

            img {
                max-height: 30px;
                border: solid 3px;
                margin-right: 5px;
                margin-top: -3px;
                cursor: pointer !important;
            }
        }
    }

    .listToolbarContainer {
        margin-bottom: 35px;
    }

    // select dropdowns
    .dropdown-content {
        z-index: 10000
    }

    .modal {
        z-index: 3003 !important;
        border-radius: 0;
        backface-visibility: hidden;

        .btn {
            margin-right: 15px;
        }

        .modal-footer {
            border-radius: 0;

            .btnClose {
                margin-right: 15px;
            }
        }
    }


    /* footer */
    footer {
        .page-footer {
            .footer-bar-top {
                margin-bottom: 20px;
            }

            .footer-copyright {
                padding: 0;

                .container {
                    line-height: 60px;
                }
            }
        }
    }
}
/* --- end panel styles --- */



/* --- specific rules --- */
#skeleformLoading {
    clear: both;

    .skelePanel {
        max-width: 450px;
        margin: 70px auto 30px auto;
        z-index: 3000;
    }
}
/* --- end specific rules --- */



/* --- debug functions --- */
#debug .btn {
    width: 37px;
}
#debugActivator {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 11px 21px 7px 21px;
    z-index: 2000;
}
#debugActionsContainer {
    @extend #debugActivator;
    border-top-left-radius: 5px;
    margin-right: 50px;
    right: 28px;

    .fixed-action-btn {
        position: static !important;
        display: inline-block !important;
        padding-top: 0 !important;

        ul {
            bottom: 40px !important;
            right: -38px !important;

            .btn-floating {
                border-radius: 2px !important;
            }
        }
    }
}
.debugGroup {
    margin: {
        left: 7px;
        right: 7px;
    }
}
/* --- end debug functions --- */


/* --- skeletor status bar --- */
#statusBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3000;

    div {
        padding: 15px;
    }
    .spacer {
        width: 25px;
        padding: 0 !important;
        height: 52px;
        margin-top: -15px;
    }
    a {
        height: 52px;
        margin-top: -15px;
        padding-top: 12px;
    }
    .status {
        //height: 30px;
        width: 30px;
        margin: auto 7px;
        display: inline;
    }
    #statusDescription {
        margin-top: -15px;
        color: $firstPanelColorLinkHover;
    }
}

.barActivator {
    width: 100%;
    height: 15px;
    padding: 0 !important;
    z-index: 3000;
    background-color: transparent;
}
/* --- end skeletor status bar --- */
