// custom app colors
@import "{}/client/styles/panelColors";


// variables
// default links
$defaultLink: #e1b924 !default;
$defaultLinkVisited: #c19d0b !default;
$defaultLinkHover: #c19d0b !default;
$defaultLinkActive: #c19d0b !default;

// backgrounds
$panelBackgroundColor: #333333 !default;
$panelBackgroundOverlayColor: #dddddd !default;
$firstBackgroundColor: #ffffff !default;
$firstDebugBackgroundColor: #263238 !default;

// loading
$loadingForeColor: #e1b924 !default;
$loadingBackColor: #111111 !default;

// main colors
$alertDebugColor: #ff1744 !default;
$alertDebugColorText: #fafafa !default;
$firstDebugColor: #c6ff00 !default;
$firstDebugColorText: #212121 !default;
$firstDebugColorActive: #76ff03 !default;
$firstDebugColorActiveText: #212121 !default;

$firstPanelColor: #00297f !default;
$firstPanelColorHover: #083fb3 !default;
$firstPanelColorText: #dddddd !default;
$firstPanelColorLink: #e1b924 !default;
$firstPanelColorLinkVisited: #c19d0b !default;
$firstPanelColorLinkHover: #c19d0b !default;
$firstPanelColorLinkActive: #c19d0b !default;
$firstPanelColorBorder: #222 !default;

$secondPanelColor: #4a148c !default;
$secondPanelColorHover: #621bb9 !default;
$secondPanelColorText: #dddddd !default;
$secondPanelColorLink: #e1b924 !default;
$secondPanelColorLinkVisited: #e1b924 !default;
$secondPanelColorLinkHover: #e1b924 !default;
$secondPanelColorLinkActive: #e1b924 !default;
$secondPanelColorBorder: #dddddd !default;

$thirdPanelColor: #222222 !default;
$thirdPanelColorHover: #252525 !default;
$thirdPanelColorText: #eeeeee !default;
$thirdPanelColorLink: #e1b924 !default;
$thirdPanelColorLinkVisited: #c19d0b !default;
$thirdPanelColorLinkHover: #c19d0b !default;
$thirdPanelColorLinkActive: #c19d0b !default;
$thirdPanelColorBorder: #424242 !default;

$fourthPanelColor: #e1b924 !default;
$fourthPanelColorHover: #f1c933 !default;
$fourthPanelColorText: #fafafa !default;
$fourthPanelColorLink: #e1b924 !default;
$fourthPanelColorLinkVisited: #c19d0b !default;
$fourthPanelColorLinkHover: #c19d0b !default;
$fourthPanelColorLinkActive: #c19d0b !default;
$fourthPanelColorBorder: darken($fourthPanelColor, 15%) !default;

$panelConfirmColor: #e1b924 !default;
$panelConfirmColorText: #222222 !default;
$panelConfirmColorHover: #ffdd5c !default;
$panelUndoColor: #4a148c !default;
$panelUndoColorText: #fafafa !default;
$panelUndoColorHover: #621bb9 !default;
$panelActionColor: #00297f !default;
$panelActionColorText: #dddddd !default;
$panelActionColorHover: #083fb3 !default;

// text colors
$firstTextColor: #212121 !default;

// form elements
$firstInputColor: #757575 !default;
$firstFocusColor: #4a148c !default;
$firstInputSuccessColor: #2e7d32 !default;
$firstInputErrorColor: #b71c1c !default;
$permissionsErrorColor: #ff6f00 !default;

// hover effect colors
$firstHoverColor: #e1b924 !default;
$secondHoverColor: #4a148c !default;

// interactive elements (color background and text, normal and hover status)
$firstInteractiveColor: #e1b924 !default;
$firstInteractiveColorHover: #03a9f4 !default;
$firstInteractiveText: #222222 !default;
$firstInteractiveTextHover: #09416d !default;


// elements
body.skelePanelBody {
    &::-webkit-scrollbar-track {
        background-color: $thirdPanelColor;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($thirdPanelColor, 20%);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($thirdPanelColor, 30%);
    }
    &::-webkit-scrollbar-button {
        display: none !important;
    }


    // links
    a:link {
        color: $firstPanelColorLink;
    }
    a:visited {
        color: $firstPanelColorLinkVisited;
    }
    a:hover {
        color: $firstPanelColorLinkHover;
    }
    a:active {
        color: $firstPanelColorLinkActive;
    }


    // top main menu
    nav.skelePanelMainMenu {
        background-color: darken($firstPanelColor, 30%);
        border-bottom: solid 3px darken($firstPanelColor, 20%);

        .separator {
            background-color: darken($firstPanelColor, 10%);
        }

        ul.side-nav {
            background-color: darken($firstPanelColor, 30%);

            li {
                .material-icons {
                    color: $firstPanelColorLink
                }
            }

            .separator + li {
                border-color: darken($firstPanelColor, 10%);
            }
        }
    }


    // connection and status toolbar
    #statusBar {
        .firstColor {
            @extend .thirdColor;
        }

        #statusDescription {
            color: #fff !important;
        }
    }

    // top row mini bars
    .skeleLangBar, .skeleCurrentVersionBar {
        @extend .thirdColor;
    }

    .skeleCurrentUserBar {
        @extend .secondColor;
    }


    // footer
    #panelFooter {
        background-color: darken($firstPanelColor, 30%) !important;
        border-top: solid 3px $firstPanelColor !important;

        .lighten {
            @extend .thirdColor;
        }
    }


    // debug
    #debugActivator {
        background-color: $firstDebugBackgroundColor !important;
        border: {
            color: lighten($firstDebugBackgroundColor, 20%) !important;
            top: solid 3px;
        }
    }
    #debugActionsContainer {
        @extend #debugActivator;
        border-left: solid 3px;
    }


    // color classes
    .alertDebugColor, .alertDebugColor i {
        background-color: $alertDebugColor !important;
        color: $alertDebugColorText !important;
    }
    .firstDebugColor, .firstDebugColor i {
        background-color: $firstDebugColor !important;
        color: $firstDebugColorText !important;
    }
    .firstDebugColor.active, .firstDebugColor.active i {
        background-color: $firstDebugColorActive !important;
        color: $firstDebugColorActiveText !important;
    }


    // first color block
    .firstColorText {
        color: $firstPanelColor;
    }
    .firstColor {
        background-color: $firstPanelColor;
        color: $firstPanelColorText;

        &:hover {
            background-color: $firstPanelColorHover;
        }

        &:link {
            color: $firstPanelColorText;
        }
        &:visited {
            color: $firstPanelColorText;
        }
        &:hover {
            color: $firstPanelColorText;
        }
        &:active {
            color: $firstPanelColorText;
        }

        a:link {
            color: $firstPanelColorLink;
        }
        a:visited {
            color: $firstPanelColorLinkVisited;
        }
        a:hover {
            color: $firstPanelColorLinkHover;
        }
        a:active {
            color: $firstPanelColorLinkActive;
        }

        .lighten {
            background-color: lighten($firstPanelColor, 20%);
            color: $firstPanelColorText;
        }

        .darken {
            background-color: darken($firstPanelColor, 20%);
            color: $firstPanelColorText;
        }

        &.disabled {
            background-color: lighten($firstPanelColor, 15%);
        }
    }


    // second color block
    .secondColorText {
        color: $secondPanelColor;
    }
    .secondColor {
        background-color: $secondPanelColor;
        color: $secondPanelColorText;

        &:hover {
            background-color: $secondPanelColorHover;
        }

        &:link {
            color: $secondPanelColorText;
        }
        &:visited {
            color: $secondPanelColorText;
        }
        &:hover {
            color: $secondPanelColorText;
        }
        &:active {
            color: $secondPanelColorText;
        }

        a:link {
            color: $secondPanelColorLink;
        }
        a:visited {
            color: $secondPanelColorLinkVisited;
        }
        a:hover {
            color: $secondPanelColorLinkHover;
        }
        a:active {
            color: $secondPanelColorLinkActive;
        }

        .lighten {
            background-color: lighten($secondPanelColor, 20%);
            color: $secondPanelColorText;
        }
        .darken {
            background-color: darken($secondPanelColor, 20%);
            color: $secondPanelColorText;
        }

        &.disabled {
            background-color: lighten($secondPanelColor, 15%);
        }
    }


    // third color block
    .thirdColorText {
        color: $thirdPanelColor;
    }
    .thirdColor {
        background-color: $thirdPanelColor;
        color: $thirdPanelColorText;

        &:hover {
            background-color: $thirdPanelColorHover;
        }

        &:link {
            color: $thirdPanelColorText;
        }
        &:visited {
            color: $thirdPanelColorText;
        }
        &:hover {
            color: $thirdPanelColorText;
        }
        &:active {
            color: $thirdPanelColorText;
        }

        a:link {
            color: $thirdPanelColorLink;
        }
        a:visited {
            color: $thirdPanelColorLinkVisited;
        }
        a:hover {
            color: $thirdPanelColorLinkHover;
        }
        a:active {
            color: $thirdPanelColorLinkActive;
        }

        .lighten {
            background-color: lighten($thirdPanelColor, 20%);
            color: $thirdPanelColorText;
        }
        .darken {
            background-color: darken($thirdPanelColor, 20%);
            color: $thirdPanelColorText;
        }

        &.disabled {
            background-color: lighten($thirdPanelColor, 25%);
        }
    }


    // fourth color block
    .fourthColorText {
        color: $fourthPanelColor;
    }
    .fourthColor {
        background-color: $fourthPanelColor;
        color: $fourthPanelColorText;

        &:hover {
            background-color: $fourthPanelColorHover;
        }

        &:link {
            color: $fourthPanelColorText;
        }
        &:visited {
            color: $fourthPanelColorText;
        }
        &:hover {
            color: $fourthPanelColorText;
        }
        &:active {
            color: $fourthPanelColorText;
        }

        a:link {
            color: $fourthPanelColorLink;
        }
        a:visited {
            color: $fourthPanelColorLinkVisited;
        }
        a:hover {
            color: $fourthPanelColorLinkHover;
        }
        a:active {
            color: $fourthPanelColorLinkActive;
        }

        .lighten {
            background-color: lighten($fourthPanelColor, 20%);
            color: $fourthPanelColorText;
        }
        .darken {
            background-color: darken($fourthPanelColor, 20%);
            color: $fourthPanelColorText;
        }

        &.disabled {
            background-color: lighten($fourthPanelColor, 15%);
        }
    }



    .confirmColor {
        background-color: $panelConfirmColor;
        color: $panelConfirmColorText;

        &:hover {
            background-color: $panelConfirmColorHover;
        }

        &:link {
            color: $panelConfirmColorText;
        }
        &:visited {
            color: $panelConfirmColorText;
        }
        &:hover {
            color: $panelConfirmColorText;
        }
        &:active {
            color: $panelConfirmColorText;
        }
    }
    .undoColor {
        background-color: $panelUndoColor;
        color: $panelUndoColorText;

        &:hover {
            background-color: $panelUndoColorHover;
        }

        &:link {
            color: $panelUndoColorText;
        }
        &:visited {
            color: $panelUndoColorText;
        }
        &:hover {
            color: $panelUndoColorText;
        }
        &:active {
            color: $panelUndoColorText;
        }
    }
    .actionColor {
        background-color: $panelActionColor;
        color: $panelActionColorText;

        &:hover {
            background-color: $panelActionColorHover;
        }

        &:link {
            color: $panelActionColorText;
        }
        &:visited {
            color: $panelActionColorText;
        }
        &:hover {
            color: $panelActionColorText;
        }
        &:active {
            color: $panelActionColorText;
        }
    }


    .firstInteractiveColor {
        background-color: $firstInteractiveColor;
        color: $firstInteractiveText;
    }

    .firstInteractiveColor:hover {
        background-color: $firstInteractiveColorHover;
        color: $firstInteractiveTextHover;
    }



    .firstHoverColor {
        color: $defaultLinkVisited;
    }
    .firstHoverColor:hover {
        color: $firstHoverColor;
    }


    // table
    table {
        thead {
            background-color: $firstPanelColor;
            color: $firstPanelColorText;
            border: none !important;
        }

        &.hoverable {
            tbody {
                tr {
                    a:link {
                        color: $firstInteractiveTextHover;
                    }
                    a:visited {
                        color: $firstInteractiveTextHover;
                    }
                    a:hover {
                        color: $firstInteractiveTextHover;
                    }
                    a:active {
                        color: $firstInteractiveTextHover;
                    }

                    &:hover {
                        background-color: $firstInteractiveColorHover;
                        color: darken($firstInteractiveTextHover, 20%);

                        .firstColor {
                            @extend .firstColor;
                        }
                        .secondColor {
                            @extend .secondColor;
                        }
                        .thirdColor {
                            @extend .thirdColor;
                        }
                        .fourthColor {
                            @extend .fourthColor;
                        }

                        a:link {
                            color: darken($firstInteractiveTextHover, 10%);
                        }
                        a:visited {
                            color: darken($firstInteractiveTextHover, 10%);
                        }
                        a:hover {
                            color: darken($firstInteractiveTextHover, 10%);
                        }
                        a:active {
                            color: darken($firstInteractiveTextHover, 10%);
                        }

                        .skelelistActionLabel {
                            color: $firstInteractiveTextHover;
                        }
                    }
                }
            }
        }
    }


    // block quote
    blockquote {
        border-color: $secondPanelColor;
    }

    // toasts
    .toast {
        &.success {
            background-color: $firstInputSuccessColor;
        }
        &.error {
            background-color: $firstInputErrorColor;
        }
        &.permissionsError {
            background-color: $permissionsErrorColor;
        }

        border-color: $firstPanelColor !important;
    }


    // progress bars
    .progress {
        background-color: $firstPanelColor;

        .determinate {
            background-color: $secondPanelColor;
        }
    }


    // toolbars
    .skeleLangBar {
        .langFlag, .socialIcon {
            img {
                border-color: $thirdPanelColorBorder;
            }

            &.active {
                img {
                    border-color: $firstHoverColor;
                }
            }
        }
    }


    // dashboard
    .skeleDashboard {
        .buttonsContainer {
            a:nth-child(odd) {
                @extend .firstColor;
            }

            a:nth-child(even) {
                @extend .secondColor;
            }
        }
    }


    // elements
    .skelePanel {
        background: $panelBackgroundOverlayColor;
    }

    .skeleDocumentTitle {
        color: $secondPanelColor;
    }

    .modal {
        color:$firstTextColor;
        background-color: $firstBackgroundColor;

        .modal-footer {
            background-color: darken($firstPanelColor, 10%);
        }
    }
}
